.w100
  width 100%
.pr
  position relative
.pa
  position absolute
.pcy
  position absolute
  top:50%
  left 0
  transform: translate(-50%)
.pacy
  position absolute
  top:50%
  transform: translate(0,-50%)
.pc
  position absolute
  top 50%
  left 50%
  transform translate(-50%, -50%)
.ta
  text-align: center
.va
  vertical-align: middle
.vt
  vertical-align: top
.no_data
  text-align: center
  margin-top 40rpx
.eli
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
.nowrap
  white-space nowrap
.red
  color red
.xian
  width 100%
  height .4rem 
  background #f8f8f8
  margin-top .2rem
.van-button
  border-radius .2rem
.dialog_content /deep/ .van-dialog__message
  border-top 1px dashed #ccc
  margin-top .3rem
  border-bottom 1px dashed #ccc
  padding-top 0.66667rem
.dialog_content /deep/ .van-dialog__footer--buttons
  padding .4rem 0
.dialog_content /deep/ .van-button--default
  background #D4D4D4
.dialog_content /deep/ .van-dialog__confirm, .van-dialog__confirm:active
  background #DB3030
  color #fff